html {
    font-size: 10px;
    scroll-behavior: smooth;
}

html, body, nav, h1, h2, h3, h4, h5, h6, p, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body * {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
}

img {
    max-width: 100%;
    width: auto;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

h1 {
    font-family: 'Aleo', serif;
    font-size: 3.6rem;
}

/* ### header banner ### */
.logo h1 {
    color: #3d904f;
    font-size: 5.6rem;
}

header {
    min-height: 100vh;
    background-image: url(./images/banner.jpg);
    background-size: cover;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10%;
}

.logo span {
    display: block;
    font-size: 2.2rem;
    color: #3d904f;
    padding: 15px 0 45px;
    font-weight: bold;
}

header div label {
    display: flex;
    flex-direction: row;
    padding: 2px;
    max-width: 650px;
    height: 60px;
    background-color: #ffffff;
}

header div label > input {
    width: 100%;
    padding: 0 120px;
    border: none;
}

header div label > input:focus {
    outline: none;
    color: #000000;
}

header div label > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f9b2f;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Aleo', serif;
    min-width: 146px;
    height: 56px;
    padding-left: 18px;
}

header div label > button > img {
    width: 26px;
    margin-left: 12px;
}

.header-wrapper > span {
    display: block;
    padding-top: 6rem;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 14px;
    background: transparent;
    border-top: 2px solid #3d904f;
    border-left: 2px solid #3d904f;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(-135deg);
}

.arrow-down:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
}

.arrow-down:hover {
    border-top: 5px solid #3d904f;
    border-left: 5px solid #3d904f;
}
.arrow-text {
    font-size: 2rem;
    color: #2f9b2f;
    font-weight: bold;
}
/* ### navigation bar ### */
nav {
    display: flex;
    align-items: center;
    background-color: #2F9B2F;
    height: 10vh;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

nav a[href^="/"] {
    font-size: 1.6rem;
    font-weight: bold;
}

.navigation a {
    font-family: 'Aleo', serif;
    margin-left: 40px;
}

.navigation a:hover {
    border-radius: 5px;
    border-bottom: 2px solid #ffffff;
}

/* search */
.search {
    background-image: url(./images/bg01.jpg);
    background-size: cover;
}

.search .container {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search .container div {
    max-width: 49%;
}

.search .container div h1 {
    padding-bottom: 70px;
}

.search .container div:first-of-type img {
    display: none;
}

.search .container div p {
    padding-bottom: 35px;
}

.search .container div button {
    font-family: 'Aleo', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 61px;
    padding: 0 35px;
    background-color: rgba(47, 155, 47, 0.85);
    cursor: pointer;
}

.search .container div:last-child img:last-child {
    padding-top: 2px;
    padding-left: 25%;
}


/* ### footer ### */

footer {
    height: 10vh;
    background-color: #2f9b2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 5px;
}

footer span {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 15px;
}

footer div {
    display: flex;
    min-width: 165px;
    flex-direction: row;
    justify-content: space-between;
}

footer i {
    font-size: 1.6rem;
}

footer i:hover {
    color: #32bea6;
}




